<template name=page-403>
  <link rel=stylesheet href=../../css/main.css>

  <div class=text-center>
    <h1>Vous êtes déconnecté</h1>
    <p><a href=${config.loginUrl} class=btn>Me reconnecter</a></p>
  </div>
</template>

<script>
'use strict'
  class Page403 extends TemplateElement {}
  TemplateElement.define('page-403', Page403)
</script>
