<template name=page-404>
  <link rel=stylesheet href=../../css/main.css>

  <h1 class=text-center>Page not found</h1>
</template>

<script>
'use strict'
  class Page404 extends TemplateElement {}
  TemplateElement.define('page-404', Page404)
</script>
