<link rel=import href=/elements/template-repeat.html>

<template name=page-dashboard>
  <link rel=stylesheet href=../../css/main.css>

  <section class="panel col-6 col-sm-12">
    <header class=panel-header>
      <h1 class=panel-title>Mes drones</h1>
    </header>
    <section class=panel-body>
      <template-repeat list="${encodeURIComponent(JSON.stringify(this.drones))}">
        <article class=tile>
          <dl>
            <dt class=tile-title>
              {this.name} <a class=btn href="${config.simulatorUrl}registration={this.registration}">Simuler le vol</a>
            </dt>
            <dd>
              {this.registration} - {this.manufacturer}/{this.model}
            </dd>
          </dl>
        </article>
      </template-repeat>
    </section>
    <footer class=panel-footer>
      <a href="#/drone/add" class="btn btn-primary btn-block">Ajouter un drone</a>
    </footer>
  </section>
</template>

<script>
'use strict'
class PageDashboard extends TemplateElement {
  constructor () {
    super()
    this.drones = []
  }
  // Manually load the page
  connectedCallback () {
    api.get('/device')
      .then(response => {
        this.drones = response.data || []
        this.render()
      })
      .catch(error => {
        const listener = this.props.listener
        listener && listener.dispatchEvent(new CustomEvent('error', {detail: {error}}))
      })
  }
}
TemplateElement.define('page-dashboard', PageDashboard)
</script>
