<template name=page-drone-add>
  <link rel=stylesheet href=../../css/main.css>

  <h1>Ajouter un drone</h1>
  <form class="columns form-horizontal">
    <div class="form-group column col-7">
      <label class="form-label col-5">Nom personnel</label>
      <input class=form-input name=name placeholder="ex: Mon drone photo" required>
    </div>
    <div class="form-group column col-7">
      <label class="form-label col-5">Constructeur</label>
      <input class=form-input name=manufacturer placeholder="ex: Parrot / DJI" required>
    </div>
    <div class="form-group column col-7">
      <label class="form-label col-5">Modèle</label>
      <input class=form-input name=model placeholder="ex: Bebop 2 / Phantom / Mavic Pro" required>
    </div>
    <div class="form-group column col-7">
      <label class="form-label col-5">Numéro d'identification</label>
      <input class=form-input name=registration placeholder="ex: ABCDEF123456789012FR" pattern="^\\w{6}\\d{12}\\w{2}$" required>
    </div>
    <div class="form-group column col-7">
      <label class="form-label col-5">Poids total (en grammes)</label>
      <input class=form-input name=weight type=integer placeholder="900" required>
    </div>
    <div class="form-group column col-7">
      <label class=form-switch>
        <input type=checkbox name=has_camera value=true checked>
        <i class=form-icon></i>Ce drone est équipé d'une caméra
      </label>
    </div>
    <div class="form-group column col-7">
      <button type=submit class="btn btn-primary btn-block">Ajouter ce drone</button>
    </div>
  </form>
</template>

<script>
'use strict'
class PageDroneAdd extends TemplateElement {
  complete () {
    const form = this.shadowRoot.querySelector('form')
    form.addEventListener('submit', event => {
      event.preventDefault()
      const data = new FormData(event.target)
      api.put(`/device/${data.get('registration')}`, data)
        .then(response => this.dispatchEvent(
          new CustomEvent('notify', {detail: {
            type: 'success',
            message: 'Le drone a été enregistré'
          }})
          )
        )
        .catch(error => {
          const listener = this.props.listener
          listener && listener.dispatchEvent(new CustomEvent('error', {detail: {error}}))
        })
    })
  }
}
TemplateElement.define('page-drone-add', PageDroneAdd)
</script>
