<template name=page-home>
  <link rel=stylesheet href=../../css/main.css>

  <style name=page-home>
    article {
      padding: 1.5em 5%;
      position: relative;
    }
    article h1,
    article h2,
    article p {
    }
    article h1 {
      color: #27f;
      font-size: 5rem;
      margin-bottom: 1rem;
    }
    article h2 {
      font-size: 2.8rem;
      margin-top: 1rem;
      font-weight: 300;
    }
    article h2:after {
      content: "";
      display: block;
      border-bottom: 2px solid #27f;
      margin: 3rem 0;
      width: 8rem;
    }

    article:first-of-type {
      background-color: #2f2f2f;
      color: #fff;
    }
    article:first-of-type h1,
    article:first-of-type p {
      color: inherit;
      max-width: 55rem;
    }
    article:first-of-type a:not(.btn) {
      color: #fff;
      text-decoration: underline;
    }
    article:first-of-type a.next {
      position: absolute;
      right: 15rem;
      bottom: -25px;
      display: block;
      font-size: 20px;
      padding: 1rem;
      width: 5rem;
      padding: .9rem 0;
      text-align: center;
      background-color: #fff;
      border: 1px solid #eee;
      color: #27f;
      text-decoration: none;
      font-weight: 200;
      z-index: 1;
    }
    article:first-of-type .actors {
      font-size: 1.6rem;
      text-align: center;
    }
    article:first-of-type .actors a {
      width: 25rem;
      text-decoration: none;
      border-bottom: 2px solid #27f;
      padding-bottom: 1rem;
    }
    article:first-of-type .actors a:hover {
      border-color: #fff;
    }
    article:first-of-type .actors span {
      display: block;
    }
    article:first-of-type .actors img {
      height: 100px;
      margin-bottom: 2rem;
    }

    article .btn.btn-lg {
      display: block;
      padding: .9rem 3rem;
    }

    article nav {
      margin-top: 4rem;
    }
    article nav a:not(:last-child) {
      margin-right: 2rem;
    }

    article li {
      list-style: none;
    }

    article nav {
      display: flex;
    }

    @media (min-width:900px) {
      article {
        padding: 3em 15em;
      }
      article + footer {
        padding: 1em 15em;
      }
      article#constructeur {
        flex-direction: row-reverse;
      }
    }
  </style>

  <article id=intro>
    <h1>La réglementation sur les drones change</h1>
    <p>
      La filière drones est en forte croissance. Une nouvelle loi encadrant son développement
      entrera en vigueur au 1<sup>er</sup> juillet 2018.
      L’État initie dès à présent l’implémentation technique permettant sa mise en œuvre.
    </p>
    <p>
      Durant cette phase, menée par la Direction interministérielle du numérique,
      l’ensemble des acteurs concernés est invité à participer : pilotes, constructeurs, acteurs publics.
      Cette plateforme vous permet d’en savoir plus et d’anticiper les démarches pour vous mettre en conformité.
    </p>
    <nav class=actors>
      <a href=#/#pilote>
        <img src=../images/pilote-intro.jpg>
        <span>Pilote</span>
      </a>
      <a href=#/#constructeur>
        <img src=../images/constructeur-intro.jpg>
        <span>Constructeur</span>
      </a>
      <a href=#/#acteur-public>
        <img src=../images/acteur-public-intro.jpg>
        <span>Acteur public</span>
      </a>
    </nav>
    <nav>
      <a href=bWFpbHRvOmNvbnRhY3RAZHJvbmUuYmV0YS5nb3V2LmZy class="contact btn btn-lg btn-primary">Participer</a>
    </nav>
    <a href=#/#pilote title="En savoir plus" class=next>↓</a>
  </article>

  <article id=pilote class=columns>
    <div class="col-6 col-sm-12">
      <img width=90% src=../images/pilote.jpg>
    </div>
    <section class="col-6 col-sm-12">
      <h1>Pilote</h1>
      <h2>Informez-vous sur vos obligations</h2>
      <p>
        À compter du 1<sup>er</sup> juillet 2018, vous devrez être enregistré auprès de la <abbr title="Direction générale de l’aviation civile">DGAC</abbr>
        et votre aéronef devra émettre sa position en temps réel et être identifiable.
        Vous pourrez être exempté si votre aéronef pèse moins de 800 grammes<sup><a href=#/#decret>*</a></sup>
        ou si vous volez avec une license <abbr title="Fédération française d’aéromodélisme">FFAM</abbr>
        sur un terrain d’aéromodélisme agréé et que vous volez purement à titre de loisir.
      </p>

      <p>
        Dans tous les cas, vous devez dès aujourd’hui vous conformer aux
        <a href=https://ecologique-solidaire.gouv.fr/carte-france-interactive-faire-voler-drone-en-toute-securite target=_blank>10 consignes de vol</a>
        et voler en <a href=https://www.geoportail.gouv.fr/donnees/restrictions-pour-drones-de-loisir target=_blank>zone autorisée</a>.
      </p>

      <nav>
        <a href=https://www.legifrance.gouv.fr/eli/loi/2016/10/24/DEVX1614320L/jo/texte target=_blank class="btn btn-lg btn-primary">Consulter la loi</a>
      </nav>
    </section>
  </article>

  <article id=constructeur class=columns>
    <div class="col-6 col-sm-12">
      <img width=90% src=../images/constructeur.jpg>
    </div>
    <section class="col-6 col-sm-12">
      <h1>Constructeur</h1>
      <h2>Connectez-vous à l'API</h2>
      <p>
        Les drones devront transmettre en temps réel leur position ainsi que leur identifiant
        à une <a href=https://drone.beta.gouv.fr/developers/>API nationale</a> et émettre ces informations en local (fréquences radio).
        Une première version de l'API est en service et vous pouvez d'ores et déjà la tester.
        Vous pourrez <a href=https://drone.beta.gouv.fr/map/>visualiser les informations envoyées sur la carte</a> et savoir
        si les positions envoyées se trouvent dans un espace autorisé.
      </p>

      <p>
        Pour toute question, assistance ou recommandation sur l’implémentation de ces systèmes,
        l’équipe est <a href=bWFpbHRvOmNvbnRhY3RAZHJvbmUuYmV0YS5nb3V2LmZy class=contact>disponible par courriel</a>.
      </p>

      <nav>
        <a href=https://drone.beta.gouv.fr/developers/ class="btn btn-lg">Documentation technique</a>
        <a href=bWFpbHRvOmNvbnRhY3RAZHJvbmUuYmV0YS5nb3V2LmZy class="contact btn btn-primary btn-lg">Contactez-nous</a>
      </nav>
    </section>
  </article>

  <article id=acteur-public class=columns>
    <div class="col-6 col-sm-12">
      <img width=90% src=../images/acteur-public.jpg>
    </div>
    <section class="col-6 col-sm-12">
      <h1>Acteur public</h1>
      <h2>Identifiez les drones actifs dans votre périmètre</h2>

      <p>
        Les drones peuvent constituer une menace dans certains contextes
        (proximité d'un site sensible, interventions aériennes, manifestation...).
        L'API drones permettra de localiser les drones enregistrés, de connaitre
        l'identité de leur propriétaire et de les distinguer des drones non enregistrés.
        Si vous avez besoin de connaitre les drones actifs à proximité
        de votre périmètre d'intervention, vous pouvez
        <a href=bWFpbHRvOmNvbnRhY3RAZHJvbmUuYmV0YS5nb3V2LmZy class=contact>travailler dès aujourd'hui
        avec nous</a> pour que nous développions les systèmes d'alerte correspondant à vos besoins.
      </p>

      <nav>
        <a href=bWFpbHRvOmNvbnRhY3RAZHJvbmUuYmV0YS5nb3V2LmZy class="contact btn btn-primary btn-lg">Participer</a>
      </nav>
    </section>
  </article>
</template>

<script>
'use strict'
class PageHome extends PageElement {
  complete () {
    ;[].forEach.call(this.shadowRoot.querySelectorAll('a.contact'), a => {
      a.addEventListener('click', event => {
        a.href = atob(a.getAttribute('href'))
      })
    })
  }
}
TemplateElement.define('page-home', PageHome)
</script>
