<link rel=import href=/elements/template-if.html>

<template name=app-nav>
  <link rel=stylesheet href=../css/main.css>

  <style>
    .tab-item a {
      color: #fff !important;  /* spectre override */
      border-bottom-color: #27f;
      font-size: 1.5rem;
      padding: inherit 0 !important;
    }
    /* override spectre selector */
    .tab-item.action a {
      border: 1px solid #fff !important;
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
    .tab-item.action a.active {
      border-color: #27f !important;
    }
  </style>

  <nav class=tab>
    <span class=tab-item if=${user.isAuthenticated}><a href=#/dashboard>Mon espace (${user.username})</a></span>
    <span class=tab-item if=${!user.isAuthenticated}><a href=#/>Présentation</a></span>
    <span class=tab-item><a href=/map/ target=_blank>Carte des drones</a></span>
    <span class="tab-item action" if=${!user.isAuthenticated}><a href=${config.loginUrl}>S'authentifier</a></span>
    <span class=tab-item if=${user.isAuthenticated}><a href=${config.logoutUrl}>Quitter</a></span>
  </nav>
</template>

<script>
'use strict'
class AppNav extends TemplateElement {
  static get observedAttributes() {
    return ['current-url']
  }

  attributeChangedCallback (name, oldValue, value) {
    if (name === 'current-url') {
      this.render()
      this.complete()
    }
  }

  selectActive () {
    const currentUrl = this.getAttribute('current-url')
    ;[].forEach.call(this.shadowRoot.querySelectorAll('a'), a => {
      a.classList.remove('active')
    })
    const currentLink = this.shadowRoot.querySelector(`a[href="${currentUrl}"]`)
    currentLink && currentLink.classList.add('active')
  }

  complete () {
    this.selectActive()
    this.redraw()
  }
}
TemplateElement.define('app-nav', AppNav)
</script>
